.product_page {
    width:100%;
    height:100%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.product_page_left {
    /* width: 50%;
    height:80%; */
    
    font-size:18px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;
    order:1
}

.product_page_right {
    display: flex;
        flex-direction: column;
        justify-content: center;
            align-items: flex-start;
}

@media (max-width:576px) {
    .product_page {
        display :flex;
        flex-direction:column
    }
    .class_search {
        order: -3px !important;;
    }
}

