img {
    height: 500px;
    width:50%;
    margin:auto;

}

.ProductInfo {
    
    color: rgb(41, 39, 39);  
} 

.ProductInfoPara{
    color:black;
}

.carousel-indicators button {
    color: blue;
}
@media (max-width:576px) {
    .ProductInfoPara {
        display:none;
    }
    img {
        width:40%;
        height:380px;
    }

}